*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../imagenes/Fondo1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.sep{
    width: 100%;
    height: 5%;
}
/* Web-Site */
/* header,
footer{
    width: 100%;
    height: auto;
    padding: 0;
} */
header{
	background-color: #f8f8f8;
    padding: 0;
}
header img{
    width: 100%;
    height: 100%;
    margin-left: 3%;
}
.sep-header{
    width: 100%;
    height: 40px;
}
.logo{
    margin: 0;
    padding: 0;
}
.content-title{
    background-color: #fff;
    border-radius: 30px;
    padding: 20px 35px;
}
.favicon{
    width: 25%;
    float: left;
    margin-top: 0;
    margin-right: 125px;
}
.img-favicon{
    width: 100%;
}
.card-h1{
    width: 85%;
    text-align: center;
    font-size: 28px;
    color: rgb(35, 96, 249);
}
span{
	width: 12.5%;
	color: #BF1F13;
}
.col-12 span{
	width: 6.25%;
}
span img{
	width: 5%;
	height: auto;
	position: absolute;
}
.col-12 span img{
	width: 2.5%;
	height: auto;
	position: absolute;
}
.fondo{
    margin: auto;
    margin-top: 5%;
    background-color: white;
    border-radius: 30px;
}
.bg-primary{
    border-radius: 30px;
    color: white;
    border-radius: 30px;
}
.card-header{
    border-radius: 30px;
    color: white;
}
.sep-y{
    margin-top: -2%;
}
.input-group-text{
    border-radius: 30px 0 0 30px;
}
.form-control{
    border-radius: 0 30px 30px 0;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 15px;
    color: #BF1F13;
    text-align: right;
    margin-bottom: 1%;
}
.requid{
    color: #BF1F13;
}
.sep3{
    width: 5%;
}
.sep-3{
    margin-top: 20px;
}
button{
    border-radius: 30px;
}