* {
    font-style: inherit;
}

body {
    background-image: url('login.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
}

header {
    background-color: #fff;
    padding: 0;
}

.logo {
    background-image: url("cintillo.png");
    background-color: #ffffff;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position-x: 30px;
    width: 100%;
    height: 70px;
}

.sep-header {
    width: 100%;
    height: 40px;
}

#contenedor {
    margin: 70px auto;
    margin-left: 110px;
    border-radius: 10px;
    width: 600px;
    padding: 5px 0;
    border: 1px solid #939393;
    background: #fff;
    height: 310px;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.titulo {
    background-color: #232323;
    color: white;
    width: 100%; 
    padding: 5px 0; 
    margin-top: -5px; 
    border-radius: 10px 10px 0 0;
    font-size: 12px; 
    text-align: center;
}

#alinea_boton {
    margin-left: 40px;
    margin-right: 40px;
}

#separa {
    width: 10px;
    height: 20px;
    float: right;
}

#contenedor2 {
    margin: 80px auto;
    border-radius: 10px;
    width: 600px;
    padding: 5px 0;
    border: 1px solid #939393;
    background: #fff;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedor3 {
    margin: 80px auto;
    border-radius: 10px;
    width: 600px;
    padding: 5px 0;
    border: 1px solid #939393;
    background: #fff;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#candado {
    padding-top: 20px;
    float: left;
}

.input {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #555555;
    display: inline-block;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding: 2px 2px 2px 23px;
    width: 175px;
}

.input_em {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #555555;
    display: inline-block;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding: 2px;
    width: 152px;
    vertical-align: middle;
}

.highlight {
    color: red;
    font-weight: bold;
    vertical-align: middle;
}

/* Cambiar el color del span a rojo */
label span {
    color: red;
}

.form-label {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    margin-left: 140px;
}

.input-group {
    display: inline-block;
    vertical-align: middle;
}

/* Ajustar el tamaño del input y colocarlo al lado de la palabra "Código" */
.input-group {
    display: flex;
    align-items: center;
}

.input-group .form-control {
    flex: 1;
    max-width: calc(100% - 420px); /* Ajusta este valor según sea necesario */
}

/* Aplicar borde redondeado solo en la parte izquierda de la imagen y la parte derecha del input */
.input-group-text {
    border-radius: 30px 0 0 30px;
    height: 38px;
}

.input-group .form-control {
    border-radius: 0 30px 30px 0;
}

/* Ajustar el tamaño de la imagen para que no supere el tamaño del input */
.input-group-text img {
    max-height: 20px;
    height: 46px;
    margin-left: -1px;
}

/* Estilos adicionales proporcionados */
.input_captcha {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #555555;
    display: inline-block;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding: 2px;
    width: 70px;
}

.identificacion_seccion3 {
    color: #cc0000; 
    text-align: center;
    padding: 10px;
}

.cbo_em {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #555555;
    display: inline-block;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    padding: 2px;
    width: 40px;
}

.user {
    background: url(../imagenes/user2.png) 4px no-repeat;
}

.passcode {
    background: url(../imagenes/lock2.png) 4px no-repeat;
}

.empresa {
    background: url(../imagenes/edificio.png) 4px no-repeat;
}

.buttonj.btn_buscar {
    display: inline-block;
    text-align: center;
    background-color: rgb(70, 162, 253);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: 1px solid rgb(70, 162, 253);
    border-radius: 30px;
    width: auto;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.buttonj.btn_buscar:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(70, 162, 253);
}

.buttonj.btn_regresar {
    display: inline-block;
    text-align: center;
    background-color: rgb(158, 159, 160);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: 1px solid rgb(158, 159, 160);
    border-radius: 30px;
    width: auto;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

h6 {
    text-align: right;
    color: #BF1F13;
    margin-bottom: -10px;
    margin-top: 10px;
}

.ajustador {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: 60px; 
}

.row {
    width: 100%;
    max-width: 800px; 
    margin: 0 auto;
}

footer {
    width: 110%;
    height: 110px; 
    background-color: rgb(70, 162, 253);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    font-size: 18px; 
}

.text-footer {
    font-size: 18px; 
    line-height: 1.4; 
}



